.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  height: auto;
  transition: all 0.3s ease;
  padding: 10px 20px;
  height: 75px;
  border: 1px solid #ccc;
}

.logo,
.user {
  height: auto;
  width: 80px;
}

.menu,
.menu-list {
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
}

.menu .menu-list li {
  margin: 20px;
  font-size: 1.2em;
  color: #fff;
}

.restaurant-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 20px auto;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.restaurant-card:hover {
  transform: scale(1.05);
}

.restaurant-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.restaurant-info {
  padding: 15px;
  text-align: center;
}

.restaurant-name {
  font-size: 1.5em;
  margin: 10px 0;
}

.restaurant-description {
  font-size: 1em;
  color: #666;
  margin: 10px 0;
}

.restaurant-location,
.restaurant-rating {
  font-size: 0.9em;
  color: #333;
}

.restaurant-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

@media (min-width: 768px) {
  .restaurant-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.Login
{
  padding: 5 30px;
}

.custom-link {
  color: aliceblue;
  text-decoration: none; /* Optional: remove underline */
}